# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [58]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'D:/GitHub/Data/Data1/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
df.groupby(['Pclass'])['Age'].mean().reset_index()

   Pclass        Age
0       1  38.233441
1       2  29.877630
2       3  25.140620

In [54]:
print(mean_df)
print(mode_df)
print(median_df)
print(max_df)

   Pclass        Age
0       1  38.233441
1       2  29.877630
2       3  25.140620
   Pclass   Age
0       1  35.0
1       2  24.0
2       3  22.0
   Pclass   Age
0       1  37.0
1       2  29.0
2       3  24.0
   Pclass   Age
0       1  80.0
1       2  70.0
2       3  74.0

In [60]:
df.mode()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
1,NaN,"Abbott, Mr. Rossmore Edward",NaN,NaN,NaN,NaN,347082,NaN,C23 C25 C27,NaN
2,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,NaN,NaN,NaN,CA. 2343,NaN,G6,NaN
3,NaN,"Abelson, Mr. Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Adahl, Mr. Mauritz Nils Martin",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,"Adams, Mr. John",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,"Aks, Mrs. Sam (Leah Rosen)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,"Albimona, Mr. Nassef Cassem",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,"Alexander, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,"Alhomaki, Mr. Ilmari Rudolf",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,"Ali, Mr. Ahmed",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,"Ali, Mr. William",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,"Allen, Miss. Elisabeth Walton",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,"Allen, Mr. William Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,"Allison, Master. Hudson Trevor",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,"Allison, Miss. Helen Loraine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,"Allum, Mr. Owen George",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,"Andersen-Jensen, Miss. Carla Christine Nielsine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,"Anderson, Mr. Harry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,"Andersson, Master. Sigvard Harald Elias",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,"Andersson, Miss. Ebba Iris Alfrida",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,"Andersson, Miss. Ellis Anna Maria",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,"Andersson, Miss. Erna Alexandra",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,"Andersson, Miss. Ingeborg Constanzia",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,"Andersson, Miss. Sigrid Elisabeth",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,"Andersson, Mr. Anders Johan",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,"Andersson, Mr. August Edvard (""Wennerstrom"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
861,NaN,"Widegren, Mr. Carl/Charles Peter",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,NaN,"Widener, Mr. Harry Elkins",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,NaN,"Wiklund, Mr. Jakob Alfred",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,NaN,"Wilhelms, Mr. Charles",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,NaN,"Willey, Mr. Edward",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866,NaN,"Williams, Mr. Charles Duane",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,NaN,"Williams, Mr. Charles Eugene",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,NaN,"Williams, Mr. Howard Hugh ""Harry""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,NaN,"Williams, Mr. Leslie",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,NaN,"Williams-Lambert, Mr. Fletcher Fellows",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
871,NaN,"Windelov, Mr. Einar",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,NaN,"Wiseman, Mr. Phillippe",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,NaN,"Woolner, Mr. Hugh",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,NaN,"Wright, Mr. George",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,NaN,"Yasbeck, Mr. Antoni",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,"Yasbeck, Mrs. Antoni (Selini Alexander)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,NaN,"Young, Miss. Marie Grice",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,NaN,"Youseff, Mr. Gerious",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,NaN,"Yousif, Mr. Wazli",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,NaN,"Yousseff, Mr. Gerious",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,NaN,"Yrois, Miss. Henriette (""Mrs Harbeck"")",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,NaN,"Zabour, Miss. Hileni",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,NaN,"Zabour, Miss. Thamine",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,NaN,"Zimmerman, Mr. Leo",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,NaN,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,NaN,"de Mulder, Mr. Theodore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,NaN,"de Pelsmaeker, Mr. Alfons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,NaN,"del Carlo, Mr. Sebastiano",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,NaN,"van Billiard, Mr. Austin Blyler",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,NaN,"van Melkebeke, Mr. Philemon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
 
### reset_index 是給予Index為預設的0 ,1, 2 ...
mean_df = df.groupby(['Pclass'])['Age'].mean().reset_index()
mode_df = df.groupby(['Pclass'])['Age'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Pclass'])['Age'].median().reset_index()
max_df = df.groupby(['Pclass'])['Age'].max().reset_index()


### 把四個新的欄位的值通通 join起來 how = left join  , on = Key值
temp = pd.merge(mean_df, mode_df, how='left', on=['Pclass'])
temp = pd.merge(temp, median_df, how='left', on=['Pclass'])
temp = pd.merge(temp, max_df, how='left', on=['Pclass'])
temp.columns = ['Pclass', 'Age_Mean', 'Age_Mode', 'Age_Median', 'Age_Max']
temp

   Pclass   Age_Mean  Age_Mode  Age_Median  Age_Max
0       1  38.233441      35.0        37.0     80.0
1       2  29.877630      24.0        29.0     70.0
2       3  25.140620      22.0        24.0     74.0

In [55]:
## 類似像join的動作
df = pd.merge(df, temp, how='left', on=['Pclass'])
df = df.drop(['Pclass'] , axis=1)

In [56]:
df.head(10)

,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Mean,Age_Mode,Age_Median,Age_Max
0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,25.140620,22.0,24.0,74.0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.233441,35.0,37.0,80.0
2,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,25.140620,22.0,24.0,74.0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,38.233441,35.0,37.0,80.0
4,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,25.140620,22.0,24.0,74.0
5,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,25.140620,22.0,24.0,74.0
6,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,38.233441,35.0,37.0,80.0
7,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,25.140620,22.0,24.0,74.0
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,25.140620,22.0,24.0,74.0
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,29.877630,24.0,29.0,70.0

In [43]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

8 Numeric Features : ['Age', 'SibSp', 'Parch', 'Fare', 'Age_Mean', 'Age_Mode', 'Age_Median', 'Age_Max']

    Age  SibSp  Parch     Fare   Age_Mean  Age_Mode  Age_Median  Age_Max
0  22.0      1      0   7.2500  25.140620      22.0        24.0     74.0
1  38.0      1      0  71.2833  38.233441      35.0        37.0     80.0
2  26.0      0      0   7.9250  25.140620      22.0        24.0     74.0
3  35.0      1      0  53.1000  38.233441      35.0        37.0     80.0
4  35.0      0      0   8.0500  25.140620      22.0        24.0     74.0

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [45]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""

df_minus = df.drop(['Age_Mean', 'Age_Mode', 'Age_Median', 'Age_Max'] , axis=1)

# 原始特徵 + 線性迴歸
train_X = MMEncoder.fit_transform(df_minus)
estimator = LinearRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.055727824174331086

In [46]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""

# 新特徵 + 線性迴歸 : 有些為改善
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.11809602422182694